/* ================================
GLOBAL STYLES
================================ */

html {
    font-size: 62.5%;
}

body {
    font-family: 'Hind', Arial, sans-serif;
    line-height: 1.6rem;
}

h1 {
    font-family: 'Montserrat', 'Futura', Arial Bold;
    font-weight: 900;
}