html {
    font-size: 62.5%;
}

h1, h2 {
    font-family: 'Montserrat', 'Arial Black', sans-serif;
    font-weight: 900;
    margin: 0;
    color: $black;
}

h1 {
    font-size: 4.6rem;
    letter-spacing: 0.25rem;
    line-height: 8.2rem;
    text-align: center;
    // margin-top: 5px;
    // color:$black;
}

.x-large-text{
    font-size: 10.6rem;
}

h2 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    line-height: 2rem;
    margin-bottom: 10px;
    color: $blue-green;
}

.landing{
    &__subtitle {
        text-align: center;
        margin-bottom: 2.5%;
        color: $black;
    }
}

body {
    font-family: 'Hind', 'Arial Narrow', sans-serif;
    font-size: 1.5rem;
    line-height: 2.4rem;
    color: $black;
    a {
        color: $purple;
        text-decoration: none;
    }
}

.center-text{
    text-align: center;
}

label {
    padding: 0 10px 0 5px;
}

#answer{
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.5rem;
}

#answer-link{
    // color: olivedrab;
    text-decoration: none;
    &:hover{
        text-decoration: underline;
    }
}

.social-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}