@import 'setup';
@import 'utils';
@import 'typography';


/*_____________INDEX_______________
<1> Add Flex
<2> Global settings per element
<3> Media queries
    <3.1> Desktop 
    <3.2> Tablet
    <3.3> Mobile
___________________________________
*/


/* ---------------------------------
.......<1> FLEXBOX SETTINGS ........
-----------------------------------*/

// Add flex 

.wallpaper,
main, 
.header,
.quiz-form,
.quiz-form__question,
.recipe-recco-section{
    display: flex;
}

// Columns
main,
.header{
    flex-flow: column;
}

// Rows
.wallpaper,
.quiz-form,
.quiz-form__question,
.recipe-recco-section{
    flex-flow: row wrap;
}

/* ----------------------------------
.........<2> GLOBAL SETTINGS ........
-----------------------------------*/

img {
    max-width: 100%;
}

.wallpaper {
    height: 100vh;
    background-image: url("../assets/foodbkg-min.jpg");
    background-size: cover;
    align-items: center;
    justify-content: center;
}

main {
    align-items: center;
    background: rgba(255, 255, 255, 0.99);
    padding: 0 70px;
    height: 80%;
    width: 67%;
    border: 1px solid $blue-green;
    overflow: hidden;
}

.header{
    height: 50%;
    justify-content: flex-end;
    padding-bottom: 5%;
    &__logo{
        margin-top: 30px;
    }
}

.intro-section, 
.quiz-form__question{
    max-width: 590px;
    margin: 0 auto;
}

.quiz-form__question{
    justify-content: center;
}

#start-btn {
    display: block;
    max-width: 135px;
}

.btn-primary{
    margin: 6% auto 0 auto;
    border: none;
    background: #ffdd22;
    padding: 10px 20px;
    font-weight: 900;
    width: 70%;
    min-width: 160px;
    display: block;
    color: $black;
    text-align: center;
    &:hover{
        background: #a8db75;
    }
    &:focus{
        outline: 0;
    }
}

.btn-secondary{
    color: $blue-green;
    margin-top: 15px;
    border: none;
    background: none;
    padding: 0;
}

.recipe-recco-section{
    position: relative;
    align-items: center;
    justify-content: center;
    max-width: 1300px;
    padding: 2% 0 1% 0;
    border: 1px solid black;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    .recipe-recco-photo{
        width: calc(100% / 3);
        max-width: 229px;
        &__img{
            object-fit: cover;
        }
    }
    .recipe-recco-details{
        width: 52%;
        margin-left: 5%;
        &__secondary-text {
        margin: 0 0 3% 0;
        }    
    }
}

.quiz-form{
    position: relative;
    overflow: hidden;
    justify-content: center;
    .radio{
        margin-top: 2%;
    }
}

.quiz-form__question-heading {
    width: 100%;
}

.hide{
    display: none;
}

.zero-opacity{
    opacity: 0;
}

.footer{
    background: white;
    text-align: center;
}

/* ----------------------------------
........<3> MEDIA QUERIES ...........
-----------------------------------*/

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    main{
        padding: 0 35px;
        width: 77%;
        height: 80%;
    }
    .header{
        height: 45%;
        &__logo{
            font-size: 3.6rem;
            letter-spacing: 0.17rem;
            line-height: 7.2rem;
            &--xlarge{
            font-size: 9rem;
            }
        }
    }
    .quiz-form{
        margin-top: 2.5%;
        &__question-heading{
            font-size: 2.5rem;
            line-height: 3.5rem;
        }
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 780px) {
    .recipe-recco-section{
        width: 100%;
        padding: 3%;
        overflow: hidden;
        .recipe-recco-photo{
            width: 400px;
            max-width: 400px;
            position: absolute;
            z-index: 1;
        }
        .recipe-recco-details{
            &__secondary-text, #quiz-result{
                margin: 0 0 0 0;
            }
            width: 100%;
            margin: 29% 0 0 0;
            padding: 2% 0;
            z-index: 2;
            background: rgba(255, 255, 255, 0.99);
            #quiz-result{
                font-size: 2rem;
            }
        }
    }
}
//TODO:
//Change main width and padding/margin on inside, purple
//Lower font sizes especially on logo 
//Reorder elements in recipe-recco to 100% width or flex column (make column)

/* Landscape phones and down */
@media (max-width: 480px) {
}
//Change main width and padding
//Make sure everything is column
//Maybe drop the logo on the last screen? Drop size SIGNIFICANTLY, at least, and RESET IT or replace it


// 3.2 Tablet Breakpoint
// @media (max-width: 700px){
//     .container{
//         main{
//             padding: 3%;
//             height: 92%;
//             max-height: 540px;
//             width: 100%;
//             border: none;
//             .landing-page{
//                 margin-top: 0;
//             }
//             h1{
//                 font-size: 2.5rem;
//                 line-height: 5rem;
//             }
//             .x-large-text {
//                 font-size: 6.6rem;
//                 line-height: 4rem;
//             }
//             h2.landing-page__subtitle{
//                 width: 90%;
//             }
//             .quizForm .questions{
//                 width: 100%;
//                 h2{
//                     font-size: 2.7rem;
//                     line-height: 3.2rem;
//                 }
//             }
//             .answer-wrapper{
//                 margin-top: 3.5%;
//                 margin-bottom: 2.5%;
//             }
//             .answer-left{
//                 width: 88%;
//                 max-height: 90px;
//             }
//             .answer-right{
//                 p{
//                     padding: 0;
//                     margin: 2% 0;
//                 }
//                 #answer{
//                     margin: 0;
//                     font-size: 2.2rem;
//                     line-height: 2.5rem;
//                     text-align: center;
//                 }
//                 width: 100%;
//                 display: flex;
//                 flex-flow: column wrap;
//                 align-items: center;
//                 margin-left: 0;
//                 #answer-link{
//                     width: 58%;
//                     font-size: 1.5rem;
//                     text-align: center;
//                     padding: 2%;
//                 }
//             }
//             .answer-wrapper{
//                 margin-top: 5%;
//                 padding: 2%;
//                 box-shadow: 0 5px 8px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
//             }
//         }
//     }
// }

