@import 'setup';
@import 'utils';
@import 'typography';

body {
    background: #fafafa;
}

.container {
    height: 100vh;
    background-image: url("../assets/foodbkg.jpg");
    max-width: 75%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-size: cover;
}

main {
    background: rgba(255, 255, 255, 0.99);
    padding: 70px;
    height: 80%;
    max-width: 60%;
}

.questions {
    display: flex;
    flex-flow: row wrap;
    h2 {
        width: 100%;
    }
}

@media (max-width: 1200px) {
    .container {
        max-width: 100%;
        main{
            height: 80%;
        }
    }
}

@media (max-width: 820px) {
    .container main {
        padding: 40px;
        height: 100%;
        max-width: 70%;
    }
    .radio {
        width: 100%;
    }
}

@media (max-width: 450px) {
    
    .container main {
        padding: 40px;
        max-width: 100%;
        background: white;
        margin-top: 150px;
    }
}